#app-menu {
    background: $colour-primary;
    color: $white;

    > ul:first-child {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: flex-start;
        align-items: center;

        > li {
            flex: 0 0 auto;

            &:nth-child(2) {
                flex: 1 1 auto;
                padding: 0 $global-padding;
            }

            &:last-child {
                a {
                    padding: 0 $global-padding/2 0 0;
                }
            }
        }
    }

    button {
        background: transparent;
        border: 0;
        cursor: pointer;

        svg.icon {
            path {
                fill: $white;
            }
        }
    }

    a {
        color: $white;
    }

    span {
        display: block;
        padding: rem-calc(5px);
    }

    img {
        display: inline-block;
        max-height: rem-calc(35px);
        padding: rem-calc(5px);
    }

    form {
        flex: 1 1 auto;
        padding: rem-calc(4px) $global-padding;
        display: flex;

        label {
            flex: 1 1 auto;

            input {
                width: 100%;
                border: rem-calc(2px) solid $white;
                padding: rem-calc(2px);

                &:focus {
                    outline: none;
                    border: rem-calc(2px) solid $colour-highlight;
                }
            }
        }

        button {
            flex: 0 0 auto;
            border: 0;
            background: #577f00;
            padding: 0;
            width: rem-calc(48px);
            cursor: pointer;

            svg {
                path, g {
                    fill: $white;
                }
            }
        }
    }

    #main-menu {
        display: block;
        background: $colour-primary-light;
        margin: 0;

        a {
            display: block;
            padding: $global-padding/2;
            color: $colour-primary;
        }
    }
}
