#editor {
    display: flex;
    flex-direction: column;
    background: $very-dark-gray;
    color: $white;

    nav {
        flex: 0 0 auto;

        a[role="tab"] {
            color: $medium-gray;

            &[aria-selected="true"] {
                background: $black;
            }
        }
    }

    .code-editor {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        background: $very-dark-gray;

        div {
            &.line-numbers {
                flex: 0 0 auto;
                padding: 0 $global-padding*2;
                text-align: right;
                color: $medium-gray;
            }

            &.code {
                flex: 1 1 auto;
            }
        }

        pre {
            margin: 0;
        }
    }
}
