#editor {
    display: flex;
    flex-direction: column;
    background: $very-dark-gray;
    color: $white;

    > nav {
        flex: 0 0 auto;

        button[role="tab"] {
            display: block;
            background: transparent;
            color: #e9e9e9;
            padding: $global-padding/2 $global-padding;
            border: 0;
            cursor: pointer;

            &[aria-selected="true"] {
                background: $colour-editor-bg;
            }
        }
    }

    > div {
        flex: 1 1 auto;
        overflow: auto;
        background: $colour-editor-bg;
        color: #e9e9e9;

        > div {
            height: 100%;
            font-size: rem-calc(14px);
        }
    }
}
