div#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;

    &.layout-tutorial-only, &.layout-tutorial-only-center {
        max-width: 50rem;
        margin: 0 auto;
    }

    &.layout-tutorial-only-left {
        max-width: 50rem;
    }

    &.layout-tutorial-only-right {
        max-width: 50rem;
        margin-left: auto;
    }

    &.layout-tutorial-iframe {
        grid-template-columns: 50rem 1fr;
        grid-template-rows: 100%;

        #tutorial {
            grid-column: 1;
            grid-row: 1;
        }

        #iframe {
            grid-column: 2;
            grid-row: 1;
            width: 100%;
            height: 100%;
        }
    }
}
