#popup-nav-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    background: $colour-primary-light;
    overflow: auto;
    padding-right: $global-padding;

    button {
        background: transparent;
        border: 0;
        padding: $global-padding/2;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    ul {
        padding: 0 0 0 $global-padding;
        margin: 0;

        li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            a {
                display: block;
                padding: $global-padding/4 $global-padding;
                flex: 1 1 auto;

                &[aria-current="page"], &:hover, &:focus {
                    background: $colour-primary;
                    color: $white;
                }
            }

            button {
                flex: 0 0 auto;
                padding: $global-padding/4;

                svg {
                    &:last-child {
                        display: none;
                    }
                }
            }

            ul {
                width: 100%;
            }
        }
    }

    a ~ ul {
        display: none;
    }

    a[aria-expanded="true"] ~ ul {
        display: block;
    }

    a[aria-expanded="true"] + button {
        svg {
            &:first-child {
                display: none;
            }

            &:last-child {
                display: block;
            }
        }
    }

    a[aria-current="page"] + button, a:hover + button, a:focus + button {
        background: $colour-primary;

        svg {
            path {
                fill: $white;
            }
        }
    }
}
