div.activity {
    background: $colour-primary-light;
    border-left: rem-calc(4px) solid $colour-primary;

    h2 {
        font-size: rem-calc(16px);
        padding: $global-padding/4 $global-padding/2;
        margin: 0;
    }

    .content {
        padding: $global-padding/2 $global-padding/2;
    }

    .answer {
        &.is-active {
            .buttons {
                button {
                    span {
                        &:nth-child(1) {
                            display: none;
                        }

                        &:nth-child(2) {
                            display: inline;
                        }
                    }
                }
            }

            .content {
                display: block;
            }
        }
        .buttons {
            text-align: right;
            padding: 0 $global-padding/2;

            button {
                display: inline-block;
                padding: rem-calc(2px) rem-calc(8px) rem-calc(3px);
                background: $white;
                color: $black;
                border: 1px solid $colour-primary-dark;
                border-radius: rem-calc(3px);
                cursor: pointer;
                transition: 0.3s background-color, 0.3s color;

                &:hover, &:focus {
                    background: $colour-primary-dark;
                    color: $white;
                }

                span {
                    &:nth-child(1) {
                        display: inline;
                    }

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

        .content {
            display: none;
            margin-top: $global-margin/2;
            border-top: 1px dotted $medium-gray;
            padding: $global-padding/2 0 0 0;
        }

        h3 {
            font-size: rem-calc(14px);
            margin-bottom: $global-padding/4;
        }
    }
}

.video {
    &.is-active {
        .buttons {
            button {
                span {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: inline;
                    }
                }
            }
        }

        .content {
            display: block;
        }
    }

    .buttons {
        text-align: right;
        padding: 0 $global-padding/2;

        button {
            display: inline-block;
            padding: rem-calc(2px) rem-calc(8px) rem-calc(3px);
            background: $white;
            color: $black;
            border: 1px solid $colour-primary-dark;
            border-radius: rem-calc(3px);
            cursor: pointer;
            transition: 0.3s background-color, 0.3s color;

            &:hover, &:focus {
                background: $colour-primary-dark;
                color: $white;
            }

            span {
                &:nth-child(1) {
                    display: inline;
                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .content {
        display: none;
        max-height: rem-calc(200px);
        overflow: auto;
        background: $white;
        border: 1px solid $colour-primary-dark;
        margin-bottom: $global-margin/2;
    }
}

div.admonition {
    background: $colour-primary-light;
    border-left: rem-calc(4px) solid $colour-primary;
    padding-bottom: $global-padding/4;
    margin-bottom: $global-margin;

    p {
        padding: $global-padding/4 $global-padding/2;
        margin: 0;
    }

    &.note {
        .admonition-title {
            display: none;
        }
    }
}

ol.lowerroman {
    list-style-type: lower-roman;
}
