$global-font-family: Arial, Helvetica, sans-serif;
$global-font-size: 16px;

$black: #0a0a0a;
$white: #fefefe;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$very-dark-gray: #4a4a4a;
$dark-red: #8a0000;
$colour-primary: #1e4b9b;
$colour-primary-dark: #002158;
$colour-primary-light: #e5f0f9;
$colour-highlight: #ffc23d;

$global-padding: 1rem;
$global-margin: 1rem;
