nav {
    &.block {
        background: $colour-primary-dark;
        font-size: rem-calc(16px);

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;

            > li {
                flex: 1 1 auto;
            }
        }

        a {
            display: block;
            text-align: center;
            padding: $global-padding;
            border-bottom: rem-calc(4px) solid $colour-primary-dark;
            color: $white;
            text-decoration: none;

            &[aria-current="true"], &:hover, &:focus {
                border-bottom-color: $colour-highlight;
            }
        }
    }

    &.within-block {
        background: $colour-primary-light;
        position: sticky;
        top: 0;
        z-index: 1;
        transition: 0.3s background-color;

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            align-items: center;

            > li {
                flex: 1 1 auto;

                &:first-child, &:last-child {
                    flex: 0 0 auto;
                }
            }
        }

        li {
            > a {
                display: block;
                text-align: center;
                text-decoration: none;
                padding: $global-padding;
                transition: 0.3s color;
                cursor: pointer;

                > span {
                    padding-right: rem-calc(8px);
                    vertical-align: middle;
                }

                > svg {
                    vertical-align: middle;
                }
            }

            > span {
                display: block;
                text-align: center;
                padding: $global-padding;
                cursor: not-allowed;
                color: $very-dark-gray;
            }
        }
    }
}

.scrolling {
    nav {
        &.within-block {
            background: $colour-primary-dark;
            box-shadow: 0 0 rem-calc(10px) $black;

            a {
                color: $white;
            }
        }
    }
}

div.toctree-wrapper {
    a {
        display: block;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    > ul {
        > li {
            > a {
                background: $light-gray;
                padding: $global-padding;
                font-size: rem-calc(18px);
                font-weight: bold;
            }

            ul {
                margin-left: $global-margin;
                margin-bottom: $global-margin*2;

                a {
                    font-size: rem-calc(16px);
                    padding: $global-padding/2 0;
                }
            }
        }
    }
}
