header {
    background: $colour-primary;
    color: $white;
    padding: $global-padding;
    font-size: rem-calc(32px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
