div.activity {
    background: $colour-primary-light;
    border-left: rem-calc(4px) solid $colour-primary;

    h2 {
        font-size: rem-calc(16px);
        padding: $global-padding/4 $global-padding/2;
        margin: 0;
    }

    .content {
        padding: $global-padding/2 $global-padding/2;
    }

    .answer {
        &.is-active {
            .buttons {
                button {
                    span {
                        &:nth-child(1) {
                            display: none;
                        }

                        &:nth-child(2) {
                            display: inline;
                        }
                    }
                }
            }

            .content {
                display: block;
            }
        }
        .buttons {
            text-align: right;
            padding: 0 $global-padding/2;

            button {
                display: inline-block;
                padding: rem-calc(2px) rem-calc(8px) rem-calc(3px);
                background: $white;
                color: $black;
                border: 1px solid $colour-primary-dark;
                border-radius: rem-calc(3px);
                cursor: pointer;
                transition: 0.3s background-color, 0.3s color;

                &:hover, &:focus {
                    background: $colour-primary-dark;
                    color: $white;
                }

                span {
                    &:nth-child(1) {
                        display: inline;
                    }

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

        .content {
            display: none;
            margin-top: $global-margin/2;
            border-top: 1px dotted $medium-gray;
            padding: $global-padding/2 0 0 0;
        }

        h3 {
            font-size: rem-calc(14px);
            margin-bottom: $global-padding/4;
        }
    }
}

.video {
    &.is-active {
        .buttons {
            button {
                span {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: inline;
                    }
                }
            }
        }

        .content {
            display: block;
        }
    }

    .buttons {
        text-align: right;
        padding: 0 $global-padding/2;

        button {
            display: inline-block;
            padding: rem-calc(2px) rem-calc(8px) rem-calc(3px);
            background: $white;
            color: $black;
            border: 1px solid $colour-primary-dark;
            border-radius: rem-calc(3px);
            cursor: pointer;
            transition: 0.3s background-color, 0.3s color;

            &:hover, &:focus {
                background: $colour-primary-dark;
                color: $white;
            }

            span {
                &:nth-child(1) {
                    display: inline;
                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .content {
        display: none;
        max-height: rem-calc(200px);
        overflow: auto;
        background: $white;
        border: 1px solid $colour-primary-dark;
        margin-bottom: $global-margin/2;
    }
}

div.admonition {
    background: $colour-primary-light;
    border-left: rem-calc(4px) solid $colour-primary;
    padding-bottom: $global-padding/4;
    margin-bottom: $global-margin;

    p {
        padding: $global-padding/4 $global-padding/2;
        margin: 0;
    }

    .admonition-title {
        background: $colour-primary;
        color: $white;
        font-weight: bold;
    }

    &.warning {
        .admonition-title {
            background: $dark-red;
        }
    }
}

ol.lowerroman {
    list-style-type: lower-roman;
}

a {
    &.reference {
        &.external {
            &:after {
                content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" /></svg>');
                display: inline-block;
                width: rem-calc(12px);
                height: rem-calc(12px);
                margin-left: rem-calc(2px);
            }
        }
    }
}

table.highlighttable {
    border-spacing: 0;
    width: 100%;
}

div.linenodiv {
    pre {
        background: $black;
        color: #858585;
        padding: $global-padding/2;
    }
}


div.highlight {
    pre {
        overflow: auto;
        background: $black;
        color: #e9e9e9;
        padding: $global-padding/2;

        .err { text-decoration: underline; text-decoration-color: #bc3f3c; } /* Error */

        .c { color: #6a9955; } /* Comment */
        .ch { color: #6a9955; } /* Comment.Hashbang */
        .cm { color: #6a9955; } /* Comment.Multiline */
        .cp { color: #6a9955; } /* Comment.Preproc */
        .cpf { color: #6a9955; } /* Comment.PreprocFile */
        .c1 { color: #6a9955; } /* Comment.Single */
        .cs { color: #6a9955; } /* Comment.Special */

        .gd { text-decoration: line-through; } /* Generic.Deleted */
        .ge { font-style: italic; } /* Generic.Emph */
        .gr { color: #bc3f3c; } /* Generic.Error */
        .gh { font-weight: bold; } /* Generic.Heading */
        .gi { color: inherit; } /* Generic.Inserted */
        .go { color: inherit; } /* Generic.Output */
        .gp { color: inherit; } /* Generic.Prompt */
        .gs { font-weight: bold; } /* Generic.Strong */
        .gu { font-weight: italic; } /* Generic.Subheading */
        .gt { color: inherit; } /* Generic.Traceback */

        .k { font-weight: bold; color: #569cd6; } /* Keyword */
        .kc { font-weight: bold; color: #569cd6; } /* Keyword.Constant */
        .kd { font-weight: bold; color: #569cd6; } /* Keyword.Declaration */
        .kn { font-weight: bold; color: #569cd6; } /* Keyword.Namespace */
        .kp { font-weight: bold; color: #569cd6; } /* Keyword.Pseudo */
        .kr { font-weight: bold; color: #569cd6; } /* Keyword.Reserved */
        .kt { font-weight: bold; color: #569cd6; } /* Keyword.Type */

        .na { color: #9cdcfe; } /* Name.Attribute */
        .nb { color: #4ec9b0; } /* Name.Builtin */
        .bp { color: #4ec9b0; } /* Name.Builtin.Pseudo */
        .nc { color: #a9b7c6; } /* Name.Class */
        .no { color: #ddd6a3; } /* Name.Constant */
        .nd { color: #ddd6a3; } /* Name.Decorator */
        .ni { color: #ddd6a3; } /* Name.Entity */
        .ne { color: #ddd6a3; } /* Name.Exception */
        .nf { color: #dcdcaa; font-weight: bold;} /* Name.Function */
        .fm { color: #dcdcaa; } /* Name.Function.Magic */
        .nl { color: #ddd6a3; } /* Name.Label */
        .nn { color: #ddd6a3; } /* Name.Namespace */
        .nt { color: #ddd6a3; } /* Name.Tag */
        .nv { color: #ddd6a3; } /* Name.Variable */
        .vc { color: #a9b7c6; } /* Name.Variable.Class */
        .vg { color: #ddd6a3; } /* Name.Variable.Global */
        .vi { color: #ddd6a3; } /* Name.Variable.Instance */
        .vm { color: #ddd6a3; } /* Name.Variable.Magic */

        .o { color: #d4d4d4; } /* Operator */
        .ow { color: #569cd6; } /* Operator.Word */

        .m { color: #b5cea8; } /* Literal.Number */
        .mb { color: #b5cea8; } /* Literal.Number.Bin */
        .mf { color: #b5cea8; } /* Literal.Number.Float */
        .mh { color: #b5cea8; } /* Literal.Number.Hex */
        .mi { color: #b5cea8; } /* Literal.Number.Integer */
        .mo { color: #b5cea8; } /* Literal.Number.Oct */
        .il { color: #b5cea8; } /* Literal.Number.Integer.Long */
        .s { color: #ce9178; } /* Literal.String */
        .sa { color: #ce9178; } /* Literal.String.Affix */
        .sb { color: #ce9178; } /* Literal.String.Backtick */
        .sc { color: #ce9178; } /* Literal.String.Char */
        .dl { color: #ce9178; } /* Literal.String.Delimiter */
        .sd { color: #ce9178; } /* Literal.String.Doc */
        .s2 { color: #ce9178; } /* Literal.String.Double */
        .se { color: #ce9178; } /* Literal.String.Escape */
        .sh { color: #ce9178; } /* Literal.String.Heredoc */
        .si { color: #ce9178; } /* Literal.String.Interpol */
        .sx { color: #ce9178; } /* Literal.String.Other */
        .sr { color: #ce9178; } /* Literal.String.Regex */
        .s1 { color: #ce9178; } /* Literal.String.Single */
        .ss { color: #ce9178; } /* Literal.String.Symbol */

        .w { color: #bbbbbb } /* Text.Whitespace */
    }
}

code {
    background: $light-gray;
    border-radius: rem-calc(3px);
    padding: rem-calc(2px) rem-calc(3px);
}
