nav {
    &.block {
        background: $colour-primary-dark;
        font-size: rem-calc(16px);

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;

            > li {
                flex: 1 1 auto;
            }
        }

        a {
            display: block;
            text-align: center;
            padding: $global-padding;
            border-bottom: rem-calc(2px) solid $colour-primary-dark;
            color: $white;
            text-decoration: none;

            &[aria-current="true"], &:hover {
                border-bottom-color: $colour-highlight;
            }
        }
    }

    &.within-block {
        background: $colour-primary-light;
        position: sticky;
        top: 0;
        z-index: 1;
        transition: 0.3s background-color;

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;

            > li {
                flex: 1 1 auto;

                &:first-child, &:last-child {
                    flex: 0 0 auto;
                }
            }
        }

        li {
            > a {
                display: block;
                text-align: center;
                text-decoration: none;
                padding: $global-padding;
                transition: 0.3s color;
                cursor: pointer;

                > span {
                    padding-right: rem-calc(8px);
                    vertical-align: middle;
                }

                > svg {
                    vertical-align: middle;
                }
            }

            > span {
                display: block;
                text-align: center;
                padding: $global-padding;
                cursor: not-allowed;
                color: $very-dark-gray;
            }

        }
    }

    &.within-block-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        background: $colour-primary-light;
        z-index: 2;
        overflow: auto;
        transition: 0.3s height;

        button {
            background: $colour-primary-light;
            border: 0;
            cursor: pointer;
            padding: $global-padding/2 $global-padding;

            &.close-full-within-block {
                position: absolute;
                right: 0;
                top: 0;
            }

            svg {
                path {
                    fill: $black;
                }
            }
        }

        ul {
            margin-left: $global-margin;
            margin-right: $global-margin;
        }

        a {
            display: block;
            padding: $global-padding/2 $global-padding;
            text-decoration: none;

            &[aria-current="true"] {
                background: $colour-primary-dark;
                color: $white;
            }
        }

        > ul {
            > li {
                > span {
                    button {
                        display: none;
                    }
                }
            }
        }

        li {
            > ul {
                display: none;
            }

            &[aria-expanded="true"] {
                > span {
                    button {
                        svg {
                            &:nth-child(1) {
                                display: none;
                            }

                            &:nth-child(2) {
                                display: inline;
                            }
                        }
                    }
                }

                > ul {
                    display: block;
                }
            }

            > span {
                display: flex;
                flex-direction: row;

                a {
                    flex: 1 1 auto;

                    &[aria-current="true"] {
                        + button {
                            background: $colour-primary-dark;

                            svg {
                                path {
                                    fill: $white;
                                }
                            }
                        }
                    }
                }

                button {
                    flex: 0 0 auto;

                    svg {

                        &:nth-child(2) {
                            display: none;
                        }

                        path {
                            fill: $black;
                        }
                    }
                }
            }
        }
    }
}

.scrolling {
    nav {
        &.within-block {
            background: $colour-primary-dark;
            box-shadow: 0 0 rem-calc(10px) $black;

            a {
                color: $white;
            }
        }
    }
}

div.toctree-wrapper {
    a {
        display: block;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    > ul {
        > li {
            > a {
                background: $light-gray;
                padding: $global-padding;
                font-size: rem-calc(16px);
                font-weight: bold;
            }

            ul {
                margin-left: $global-margin;
                margin-bottom: $global-margin*2;

                a {
                    font-size: rem-calc(14px);
                    padding: $global-padding/2 0;
                }
            }
        }
    }
}
